<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {{ content_for_header }}
  </head>

  <body class="gradient">
    <h1>Hello this is working</h1>
    {{ content_for_layout }}
  </body>
</html>




